/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.logo img {
  height: 40px;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  position: relative;
  transition: 0.3s ease;
}

nav a:hover,
nav a.active {
  color: #088178;
}



/* Hero Section */
#hero {
  background-image: url(images/hero4.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
}

#hero h4 {
  font-size: 40px;
  color: #222;
  padding-bottom: 15px;
}

#hero h2 {
  font-size: 70px;
  color: #222;
}

#hero h1 {
  font-size: 70px;
  color: #088178;
}

#hero p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

#hero button {
  background-image: url(images/button.png);
  background-size: cover;
  background-color: transparent;
  width: 260px;
  height: 60px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #088178;
}